
{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cartlist.css' %}">

<table class="table" style="margin-top: 100px;">
    <tr>
        <th>Product Image</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Product Quantity</th>
        <th>Username</th>
        <th>Sub-Total</th>
        <th>Action</th>
    </tr>
    {% for i in cl %}
    <tr>
        <td><img src="{{ i.Product.Img }}" alt="Image not available" width="150px" height="150px"></td>
        <td>{{ i.Product.p_name }}</td>
        <td>{{ i.Product.p_price }}</td>
        <td class="d-flex pb-5 gap-3" >{{ i.quantity}}
            <form method="post" action="{% url 'eapp:update_cart' i.id 'increase' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-sm">+</button>
            </form>
            <form method="post" action="{% url 'eapp:update_cart' i.id 'decrease' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">-</button>
            </form>
        </td>
        <td>{{ i.user.username }}</td>
        <td><input type="text" class="subtotal" min="1" value="{%widthratio i.Product.p_price 1 i.quantity %}" readonly></td>
        <td><a href="delete/{{ i.id }}" class="delete-button">Delete</a></td>
    </tr>
    {% endfor %}
</table>

<h2 id="total">Final Total: Rs.<span id="total-value">0.00/-</span></h2>

<script src="{% static 'js/static.js' %}"></script>

<form action="/success" method="POST">
    {% csrf_token %}
  <script
      src="https://checkout.razorpay.com/v1/checkout.js"
      data-key="rzp_test_ydtjvCT6aXbGzt"
      data-amount="{{final_price}}" 
      data-currency="INR" 
      data-order_id="{{ razorpay_order_id }}"
      data-buttontext="Pay with Razorpay"
      data-name="Shopperia"
      data-description="A Wild Sheep Chase is the third novel by Japanese author Haruki Murakami"
      data-image="https://logopond.com/logos/d1419ef5f7ced65b38215ab5f4850bba.png"
      data-prefill.name="Sayed Mohd Saud"
      data-prefill.email="saudsayed09@gmail.com"
      data-theme.color="#F37254"
  ></script>
  <input type="hidden" custom="Hidden Element" name="hidden"/>
  </form>


  </style>




