{%include 'navbar.html'%}


<div class="text-center"  style="margin-top: 100px;">

    <img src="https://www.svgrepo.com/show/157817/success.svg" alt="" class='img-fluid' style="height: 200px;">
    <h2>Thanks Your Payment has been received</h2>

</div>

<footer style="    max-height: 2rem;background-color: lightgray;position: relative;text-align: center;margin: 350px;padding: 10px;font-weight: 600; color: black;">
	<small>Copyright &copy; 2024 Shopperia || Designed By Saud Sayed || </small>
</footer>